In [1]:
import pandas as pd
data = pd.read_csv('house_label.csv',sep=',',encoding='utf_8_sig')
data.columns.values

array(['Unnamed: 0', '所属小区', '所在位置', '建造年代', '房屋类型', '产权年限', '产权性质',
       '房屋户型', '建筑面积', '房屋朝向', '所在楼层', '配套电梯', '唯一住房', '房屋单价', '参考首付',
       '参考月供', '装修程度', '房本年限', '一手房源'], dtype=object)

In [2]:
import re
feature = '建造年代'
for i in range(data.shape[0]):
    str = re.findall(r"\d+",data.loc[i,feature])
    if str:
        data.loc[i,feature] = int(str[0])
    else:
        data.loc[i,feature] = 'unknown'

In [3]:
feature = '建筑面积'
print(data.loc[0,feature])
for i in range(data.shape[0]):
    str = re.findall(r"\d+.?\d+",data.loc[i,feature])
    if str:
        data.loc[i,feature] = float(str[0])
    else:
        print("Error in ",i)

10.1平方米

In [4]:
feature = '产权年限'
for i in range(data.shape[0]):
    str = re.findall(r"\d+",data.loc[i,feature])
    if str:
        data.loc[i,feature] = int(str[0])
    else:
        data.loc[i,feature] = 'unknown'
        print('error in ', i)

In [5]:
data[feature].value_counts()

70    39003
0      1202
50      328
40      151
Name: 产权年限, dtype: int64

In [6]:
feature = '房屋类型'
data[feature].value_counts()

普通住宅    36213
公寓       2787
别墅       1228
平房        210
暂无         90
新里洋房       82
老公房        74
Name: 房屋类型, dtype: int64

In [7]:
house_type_dic = {'普通住宅':1,'公寓':2,'别墅':3,'暂无':'unknown','平房':4,'老公房':5,'新里洋房':6}
for i in range(data.shape[0]):
    htype =  house_type_dic[data.loc[i,feature]]
    if htype:
        data.loc[i,feature] = htype
    else:
        print('error in ',i)

In [8]:
feature = '产权性质'
data[feature].value_counts()

商品房      36190
公房        1775
0         1242
其他         778
商住两用       411
经济适用房      285
使用权          3
Name: 产权性质, dtype: int64

In [9]:
property_type_dic = {'商品房':1,'0':'unknown','公房':2,'经济适用房':3,'商住两用':4,'其他':5,'使用权':5}
for i in range(data.shape[0]):
    ptype =  property_type_dic[data.loc[i,feature]]
    data.loc[i,feature] = ptype

In [10]:
data[feature].value_counts()

1          36190
2           1775
unknown     1242
5            781
4            411
3            285
Name: 产权性质, dtype: int64

In [11]:
feature = '房屋朝向'
data[feature].value_counts()

南北    20885
南     18437
东       470
东南      326
西南      176
北       140
西       115
西北       59
东西       55
东北       21
Name: 房屋朝向, dtype: int64

In [12]:
direction_dic = {'东':1,'南':2,'西':3,'北':4,'东南':5,'西南':6,'西北':7,'东北':8,'东西':9,'南北':10}
for i in range(data.shape[0]):
    data.loc[i,feature] = direction_dic[data.loc[i,feature]]

In [13]:
data[feature].value_counts()

10    20885
2     18437
1       470
5       326
6       176
4       140
3       115
7        59
9        55
8        21
Name: 房屋朝向, dtype: int64

In [14]:
feature = '配套电梯'
data[feature].value_counts()

有    21401
无    18176
0     1107
Name: 配套电梯, dtype: int64

In [15]:
for i in range(data.shape[0]):
    if data.loc[i,feature] == '无':
        data.loc[i,feature] = 0
    elif data.loc[i,feature] == '有':
        data.loc[i,feature] = 1
    else:
        data.loc[i,feature] = 'unknown'
data[feature].value_counts()

1          21401
0          18176
unknown     1107
Name: 配套电梯, dtype: int64

In [16]:
feature = '唯一住房'
data[feature].value_counts()

是     33262
否      3802
暂无     3620
Name: 唯一住房, dtype: int64

In [17]:
for i in range(data.shape[0]):
    if data.loc[i,feature] == '否':
        data.loc[i,feature] = 0
    elif data.loc[i,feature] == '是':
        data.loc[i,feature] = 1
    else:
        data.loc[i,feature] = 'unknown'
data[feature].value_counts()

1          33262
0           3802
unknown     3620
Name: 唯一住房, dtype: int64

In [18]:
feature = '房屋单价'
for i in range(data.shape[0]):
    str = re.findall(r"\d+",data.loc[i,feature])
    if str:
        data.loc[i,feature] = int(str[0])
    else:
        data.loc[i,feature] = 'unknown'
        print('error in ', i)

In [19]:
data[feature].value_counts()

50000     188
40000     153
33333      95
42857      84
45455      73
37500      61
44444      57
41667      56
32000      55
25000      46
47059      45
35714      44
46154      42
44118      41
36000      40
35000      40
38462      39
45000      36
53846      34
46875      33
100000     31
60000      30
36364      29
43333      28
37037      28
36667      28
43860      27
43478      27
38596      26
48000      26
         ...
43623       1
70224       1
59983       1
39713       1
21304       1
109543      1
62348       1
33762       1
35779       1
39873       1
23481       1
78772       1
48037       1
27551       1
31645       1
72593       1
60303       1
56201       1
25406       1
54152       1
48005       1
37760       1
84859       1
86904       1
35683       1
39777       1
93023       1
35651       1
37696       1
75781       1
Name: 房屋单价, Length: 18963, dtype: int64

In [20]:
feature = '参考首付'
for i in range(data.shape[0]):
    str = re.findall(r"\d+.?\d+",data.loc[i,feature])
    if str:
        data.loc[i,feature] = float(str[0])
    else:
        data.loc[i,feature] = 'unknown'
        print('error in ', i)

In [21]:
data[feature].value_counts()

90.00      718
60.00      613
84.00      601
63.00      505
120.00     502
78.00      495
75.00      483
96.00      473
135.00     473
54.00      464
66.00      464
69.00      456
72.00      452
81.00      437
57.00      436
150.00     404
99.00      390
51.00      390
126.00     384
105.00     384
93.00      383
87.00      363
45.00      345
144.00     339
114.00     328
48.00      325
108.00     311
129.00     297
180.00     290
55.50      286
          ...
211.80       1
210.24       1
1890.10      1
82.14        1
657.10       1
103.98       1
93.80        1
46.95        1
83.41        1
104.46       1
1926.00      1
1935.10      1
45.03        1
204.24       1
1860.10      1
90.15        1
207.30       1
177.90       1
1830.00      1
239.55       1
54.45        1
156.15       1
1797.10      1
645.01       1
43.08        1
1095.00      1
70.74        1
1770.00      1
1764.10      1
224.64       1
Name: 参考首付, Length: 1988, dtype: int64

In [22]:
feature = '装修程度'
data[feature].value_counts()

精装修     25529
简单装修     7785
毛坯       4275
豪华装修     3095
Name: 装修程度, dtype: int64

In [23]:
deco_type_dic = {'毛坯':1,'简单装修':2,'精装修':3,'豪华装修':4}
for i in range(data.shape[0]):
    data.loc[i,feature] = deco_type_dic[data.loc[i,feature]]

In [24]:
data[feature].value_counts()

3    25529
2     7785
1     4275
4     3095
Name: 装修程度, dtype: int64

In [25]:
feature = '一手房源'
data[feature].value_counts()

否    40099
是      585
Name: 一手房源, dtype: int64

In [26]:
for i in range(data.shape[0]):
    if data.loc[i,feature] == '否':
        data.loc[i,feature] = 0
    elif data.loc[i,feature] == '是':
        data.loc[i,feature] = 1
    else:
        data.loc[i,feature] = 'unknown'
data[feature].value_counts()

0    40099
1      585
Name: 一手房源, dtype: int64

In [27]:
feature = '房本年限'
data[feature].value_counts()

满五年     30757
满二年      7608
不满二年     2210
暂无        109
Name: 房本年限, dtype: int64

In [28]:
time_dic = {'不满二年':1,'满二年':2,'满五年':3,'暂无':'unknown'}
for i in range(data.shape[0]):
    data.loc[i,feature] = time_dic[data.loc[i,feature]]
data[feature].value_counts()

3          30757
2           7608
1           2210
unknown      109
Name: 房本年限, dtype: int64

In [29]:
feature = '所在楼层'
data[feature].value_counts()

中层(共6层)     8137
高层(共6层)     5368
低层(共6层)     5098
中层(共18层)    2178
低层(共18层)    1700
高层(共18层)    1617
共5层         1139
中层(共14层)     954
共3层          896
中层(共11层)     839
高层(共14层)     769
高层(共11层)     745
低层(共14层)     635
低层(共11层)     571
共4层          499
中层(共12层)     439
中层(共16层)     436
中层(共17层)     431
高层(共16层)     402
高层(共12层)     377
高层(共8层)      328
高层(共7层)      296
中层(共8层)      285
低层(共12层)     273
低层(共17层)     244
高层(共24层)     239
高层(共17层)     235
共2层          233
低层(共16层)     230
中层(共15层)     216
            ...
高层(共32层)      32
低层(共32层)      30
中层(共31层)      29
高层(共27层)      29
地下(共3层)       27
低层(共19层)      27
高层(共29层)      27
低层(共23层)      25
低层(共27层)      25
低层(共29层)      20
中层(共32层)      20
高层(共23层)      20
低层(共31层)      19
地下(共4层)        5
高层(共35层)       5
中层(共35层)       4
地下(共2层)        4
低层(共35层)       3
低层(共39层)       3
中层(共36层)       2
低层(共66层)       2
高层(共40层)       2
低层(共80层)       1
高层(共36层)       1
地下(共1层)        1
低层(共34层)       1
低层(共37层)       1
中层(共39层)       1
低层(共70层)       1
低层(共41层)       1
Name: 所在楼层, Length: 107, dtype: int64

In [30]:
for i in range(data.shape[0]):
    str = data.loc[i,feature]
    if '低层' in str:
        data.loc[i,feature] = 2
    elif '中层' in str:
        data.loc[i,feature] = 3
    elif '地下' in str:
        data.loc[i,feature] = 1
    elif '高层' in str:
        data.loc[i,feature] = 4
    else:
        data.loc[i,feature] = 2

In [31]:
data.to_csv('pro_info.csv',sep=',',encoding='utf_8_sig')

In [32]:
feature = '房屋户型'
str = re.findall(r"\d",data.loc[i,feature])
results = list(map(int, str))
print(results)

[1, 1, 1]

In [33]:
df = pd.DataFrame(columns=('室','厅','卫'))
print(data.loc[1635,feature])
for i in range(data.shape[0]):
    str = re.findall(r"\d+", data.loc[i,feature])
    result = list(map(int, str))
    if(len(str) != 3):
        print('error in ',i)
    df.loc[i] = result
df.shape[0]

				3室
				2厅
				2卫

40684

In [34]:
data = data.drop(labels=feature, axis=1)
data = pd.concat([data, df], axis=1)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40684 entries, 0 to 40683
Data columns (total 21 columns):
Unnamed: 0    40684 non-null int64
所属小区          40684 non-null object
所在位置          40684 non-null object
建造年代          40684 non-null object
房屋类型          40684 non-null object
产权年限          40684 non-null int64
产权性质          40684 non-null object
建筑面积          40684 non-null object
房屋朝向          40684 non-null int64
所在楼层          40684 non-null int64
配套电梯          40684 non-null object
唯一住房          40684 non-null object
房屋单价          40684 non-null int64
参考首付          40684 non-null object
参考月供          40684 non-null object
装修程度          40684 non-null int64
房本年限          40684 non-null object
一手房源          40684 non-null int64
室             40684 non-null object
厅             40684 non-null object
卫             40684 non-null object
dtypes: int64(7), object(14)
memory usage: 6.5+ MB

In [36]:
data = data.drop(labels='参考月供',axis=1)

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40684 entries, 0 to 40683
Data columns (total 20 columns):
Unnamed: 0    40684 non-null int64
所属小区          40684 non-null object
所在位置          40684 non-null object
建造年代          40684 non-null object
房屋类型          40684 non-null object
产权年限          40684 non-null int64
产权性质          40684 non-null object
建筑面积          40684 non-null object
房屋朝向          40684 non-null int64
所在楼层          40684 non-null int64
配套电梯          40684 non-null object
唯一住房          40684 non-null object
房屋单价          40684 non-null int64
参考首付          40684 non-null object
装修程度          40684 non-null int64
房本年限          40684 non-null object
一手房源          40684 non-null int64
室             40684 non-null object
厅             40684 non-null object
卫             40684 non-null object
dtypes: int64(7), object(13)
memory usage: 6.2+ MB

In [38]:
data.to_csv('house_2.csv',sep=',',encoding='utf_8_sig')

In [39]:
data = data.drop(labels='Unnamed: 0', axis=1)
data.to_csv('house_2.csv',sep=',',encoding='utf_8_sig')

In [40]:
feature='所在位置'
for i in range(data.shape[0]):    
    str = data.loc[i,feature].replace("\n","").replace("\t","").replace(" ","")
    slist = str.split("－")
    data.loc[i,feature] = slist[0] + slist[1]

In [41]:
feature = '所属小区'
for i in range(data.shape[0]):
    str = data.loc[i,feature].replace("\n","").replace("\t","").replace(" ","")
    if str == '暂无':
        str = 'unknown'
    data.loc[i,feature] = str

In [42]:
data.to_csv('house_3.csv',sep=',',encoding='utf_8_sig')